.vditor {
  &-wysiwyg {
    background-color: $textareaBg;
    box-sizing: border-box;
    flex: 1;
    margin: 0;
    white-space: pre-wrap;
    position: relative;

    &[contenteditable="false"] {
      opacity: 0.3;
      cursor: not-allowed;
    }

    &:focus {
      outline: none;
      background-color: $textareaFocusBg;
    }

    blockquote:empty::before {
      content: ' ';
    }

    &__block {
      position: relative;
      pre {
        margin-bottom: 1em !important;
      }

      textarea,
      &[data-type="math-block"]{
        border: 0;
        background-color: rgba($toolbarIconHover, .16);
        border-radius: 3px;
        resize: vertical;
        min-height: 72px;
        width: 100%;
        box-sizing: border-box;

        &:focus {
          outline: none;
        }
      }
    }

    &__preview {
      background-color: $textareaFocusBg;
      display: none;
      position: absolute;
      top: 0;
      width: 100%;
      border-radius: 3px;
      box-sizing: border-box;
      box-shadow: $layerShadow;
    }
  }
}
